.page-footer {
  text-align: center;
  .contact {
    padding: 80px 0;
    background-color: yellowgreen;
    color: #fff;
    text-align: left;
    h2 {
      text-align: center;
      margin-bottom: 50px;
    }
    p {
      font-size: 22px;
      font-weight: 300;
    }
    form {
      input {
        border-radius: 3px;
        border: none;
        padding: 10px;
        font-size: 18px;
        color: black;
        &:focus {
          outline: none;
        }
      }
      textarea {
        border-radius: 3px;
        border: none;
        padding: 10px;
        color: black;
        font-size: 18px;
        &:focus {
          outline: none;
        }
      }
      .name {
        width: 47%;
        float: left;
        border: 1px solid yellowgreen;
        &:focus {
          border: 1px solid black;
        }
      }
      .email {
        width: 47%;
        float: right;
        border: 1px solid yellowgreen;
        &:focus {
          border: 1px solid black;
        }
      }
      .message {
        width: 100%;
        max-width: 100%;
        max-height: 300px;
        min-width: 100%;
        margin-top: 30px;
        min-height: 80px;
        border: 1px solid yellowgreen;
        &:focus {
          border: 1px solid black;
        }
      }
      button {
        BACKGROUND: white;
        color: black;
        border-radius: 0;
        padding: 10px 45px;
        float: right;
        margin-top: 20px;
        border: 1px solid white;
        opacity: .9;
        transition: all .3s ease;
        &:focus {
          outline: none;
        }
        &:hover {
          opacity: 1;
          border: 1px solid black;
        }
      }
    }
    .information {
      p {
        display: grid;
        font-weight: bold;
        font-size: 16px;
        color: white
      }
      span {
        font-weight: normal;
      }
      i {
        font-size: 30px;
        color: white;
      }
    }
  }
  .small-print {
    padding: 50px 0 40px;
    font-weight: 300;
  }
  hr.divider {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .information {
    margin-top: 100px;
  }
  .page-footer .contact form button {
    float: left;
    clear: both;
  }
  hr.divider {
    border: 0;
    height: 1px;
    background: rgba(255, 255, 255, 0.2);
    display: block !important;
  }
  .page-footer {
    .contact {
      form {
        .name {
          width: 49%;
        }
        .email {
          width: 49%;
        }
        .message {
          margin-top: 10px;
        }
      }
    }
  }
}